# Environment Variables for API
.env 

# Package Egg Information
Chatbot_Application.egg-info

# Gradio Folder
.gradio/

# Environement
venv/
# Build Folder
build/


# Terraform 

terraform/.terraform/** 
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/.terraform.tfstate.lock.info